.item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 1rem;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 2rem;
  align-items: center;
}

.item-name {
  width: 100%;
}

.item-quantity {
  width: 0.4rem;
  height: 0.4rem;
  padding: 10px;
  margin-right: 10px;
  background-color: var(--button-color);
  border-radius: 50%;
  color: var(--button-text-color);
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  align-items: center;
  margin-left: 2px;

  display: flex; /* or inline-flex */
  justify-content: center;
}
