.button {
  margin-top: 2rem;
  margin-bottom: 0.5rem;

  background-color: var(--button-color);
  border: none;
  color: var(--button-text-color);
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;

  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;

  width: 100%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
